

# Created by https://www.toptal.com/developers/gitignore/api/macos,swift
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,swift



# Pods
PruebaWhiz/Pods/

estamos
Podfile.lock

# *.xcworkspace

PruebaWhiz/*.xcworkspace
archivo.txt
